.DS_Store
.httr-oauth
.Rproj.user
.Rhistory
.Rdata
.Rapp.history
*.pdf
.quarto
.Rprofile
.Renviron

data-raw/benchmark
data-raw/extdata
inst/doc
Julia/README.md
Julia/README.html
tests/testthat/_tmp
test-environments.html
