.Rproj.user
.Rhistory
.Rdata
.Rapp.history
.httr-oauth
.DS_Store
.quarto
inst/doc
Julia/README.md
Julia/README.html
test-environments.html
*.pdf
.Rprofile
.Renviron
data-raw/benchmark
data-raw/extdata
